@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');





:root {
    --scale: 1;
    --header-size: calc(100px * var(--scale));
    --footer-size: calc(350px * var(--scale));
    --login-size: calc(350px * var(--scale));
    --content-size: calc(100% - var(--header-size) - var(--footer-size));
}